.section-full-width .row{
    width:100%;
    display:flex;
}
.col{
    padding: 10px;
    display:flex;
    position:relative;
}
.col-wrap{
    width:100%;
    display:flex;
}
.col-25{
    width:25%;    
}
.col-33{
    width:33.33%;    
}
.col-66{
    width:66%;    
}
.col-50{
    width:50%;    
}
.col-100{
    width:100%;
}
.p0{
    padding:0;
}
.p1{
    padding:10px;
}
.p4{
    padding:40px;
}
.pb1_2{
    padding-bottom:5px;
}
.border-3{
    border: solid 3px #efefef;
}
.left_column_section{
    padding: 20px 40px 20px 40px;
    border-top: solid 3px #efefef;
    border-left: solid 3px #efefef;
    border-bottom: solid 3px #efefef;
}

.column_section {
    padding: 20px 40px 20px 40px;
    border: 3px solid #efefef;
}